<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Aseen tiedot</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Aseen tiedot</h1>
        <table>
            <tr>
                <th>Aseen nimi</th>
                <th>Aseen numero</th>
            </tr>
            <tr>
                <td th:text="${ase.nimi}">Aseen nimi</td>
                <td th:text="${ase.numero}">Aseen numero</td>
            </tr>
        </table>
        <h2>Luvalliset</h2>
        <ol>
            <li th:each="varusmies : ${oikeudelliset}">
                <span th:text="${varusmies.nimi}"> nimi</span>
                <a th:href="@{~/varusmiehet/{id}(id=${varusmies.hetu})}">
                    <span th:text="${varusmies.hetu}"> hetu</span>
                </a>

                <form method="post" th:action="@{~/aseet/{id}{id=${ase.numero}}}">
                    <input type="button" name="poista" value="poista"></input>
                </form>
                <br></br>
            </li>
        </ol>
        <br></br>

         <form method="post" th:action="@{~/aseet/{id}(id=${ase.numero})}">
            <fieldset> <legend>Anna lupa aseseen</legend>
                Anna varusmiehen hetu:
                <br></br>
                <input type="text" required="yes" name="varusmiehenHetu"></input>
                <input type="submit" value="lisaa"></input>
            </fieldset>
            </form>


            <a href="/paasivu" title="Palaa takaisin pääsivulle">
                Takaisin
            </a>

    </body>
</html>
