<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${nimi}">Ase sivu</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Perustiedot</h1>
        <table>
            <tr>
                <th>Nimi</th>
                <th>Numero</th>
            </tr>
            <tr>
                <td th:text="${nimi}">
                    RK 62
                </td>
                <td th:text="${numero}">
                    123456
                </td>
            </tr>
        </table>
        <h1>Käyttöoikeutetut</h1>
        <table>
            <tr th:each ="kayttooikeus : ${kayttooikeudet}">
                <td>
                    <a  th:href="@{~/varusmies/{id}(id=${kayttooikeus.varusmies.hetu})}" th:text="${kayttooikeus.varusmies}" title="Mene tämän varusmiehen sivulle">
                        Tkm Järvinen, 160800A4753
                    </a>
                </td>
                <td>
                    <a th:href="@{~/kayttooikeus/{id}(id=${kayttooikeus.id})}" title="Poista aseen käyttöoikeus tältä varusmieheltä">poista</a>
                </td>
            </tr>
        </table>
        <form method="post" th:action ="@{~/ase/{id}(id=${numero})}">
            <input type="text" name="nimi" value="nimi"/>
            <input type="text" name="hetu" value="hetu"/>
            <button type="submit">Lisää käyttöoikeus</button>
        </form>
        <h1>Toiminnot</h1>
        <form method ="post" th:action ="@{~/ase/poista/{id}(id=${numero})}" title="Poistaa aseen kokonaan tietokannasta">
            <button type ="submit">Poista ase</button>
        </form>

    </body>
</html>
