<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Aseet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Aseet</h1>
        <table>
            <tr>
                <th>Aseen nimi</th>
                <th>Aseen numero</th>
            </tr>
            <tr th:each="ase: $(aseet)">
                <td th:text="$(ase.nimi)"> testi</td>
            </tr>

        </table>
        <a href="/paasivu" title="Palaa takaisin pääsivulle">
            Takaisin
        </a>
    </body>
</html>
