<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Aseet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Aseet</h1>
        <table>
            <ul>
            <li th:each="ase : ${aseet}">
                <a th:href="@{~/ase/{id}(id=${ase.numero})}">
                    <span th:text="${ase.nimi}">Aseet</span>
                    <span th:text="${ase.numero}">Aseet</span>
                </a>
            </li>
        </ul>
        </table>
        <a href="/paasivu" title="Palaa takaisin pääsivulle">
            Takaisin
        </a>
    </body>
</html>
