<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Etsinta</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Hae henkilön hetulla tai aseen numerolla</h1>

        <form method="POST" action="/lisaavarusmies">
            <fieldset><legend>Etsi varusmiehen hetulla</legend>

                Varusmiehen hetu:
                <br></br>
                <input type="text" name="varusmiehenHetu"></input>
                <br></br>
                <input type="submit" value="Etsi"></input>

            </fieldset>
        </form>
                        <form method="POST" action="/lisaavarusmies">
            <fieldset><legend>Etsi ase aseen numerolla</legend>

                Aseen numero:
                <br></br>
                <input type="text" name="aseenNumero"></input>
                <br></br>
                <input type="submit" value="Etsi"></input>

            </fieldset>
        </form>
        
        <a href="/paasivu" title="Palaa takaisin paasivulle">
            Takaisin
        </a>
    </body>

</html>
