<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Aseen lisäys</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Aseen lisäys</h1>
        <table>
            <tr>
                <td>
                    Aseen lisääminen onnistui!
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/aselisays" title="Palaa takaisin pääsivulle">
                        Takaisin aseen lisäykseen
                    </a> 
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/paasivu" title="Palaa takaisin pääsivulle">
                        Takaisin pääsivulle
                    </a>  
                </td>
            </tr>
        </table>



    </body>
</html>
