<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Aseen lisays</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Aseen lisaaminen onnoistui</h1>
  
                    <a href="/lisaaAse" title="Palaa takaisin lisaykseen">
                        Takaisin aseen lisaykseen
                    </a> 
        <br></br>
        
                    <a href="/paasivu" title="Palaa takaisin paasivulle">
                        Takaisin paasivulle
                    </a>  

    </body>
</html>
