<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Aseen lisäys</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Aseen lisäys</h1>
         <form method="POST" action="/aselisays">
            <input type="text" name="nimi" value="nimi"/>
            <input type="text" name="numero" value="numero"/>
            <input type="submit" value="lisaa ase" title="lisää aseen tietokantaan"/>
        </form>
        <a href="/paasivu" title="Palaa takaisin pääsivulle">
            Takaisin
        </a>
    </body>
</html>
