<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Varusmiehet</title>
        <meta charset="utf-8" />
        <style>
            table {
                font-family: arial, san-serif;
                border-collapse: collapse;
                width: 50%;
            }
            td, th {
                border: 2px, solid #dddddd;
                text-align: left;
                padding: 5 px;
            }
            tr:nth-child(odd){
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>
        <h1>Varusmiehet</h1>
        <table>
            <tr>
                <th>Varusmiehen nimi</th>
                <th>Varusmiehen hetu</th>
            </tr>
            <tr th:each="varusmies : ${varusmiehet}">
                <td th:text="${varusmies.nimi}"></td>
                <td th:text="${varusmies.hetu}"></td>
            </tr>
        </table>
        <a href="/paasivu" title="Palaa takaisin pääsivulle">
            Takaisin
        </a>
    </body>
</html>
