<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${nimi}">Varusmies sivu</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Varusmies</h1>
        <table>
            <tr>
                <th>Nimi</th>
                <th>Hetu</th>
            </tr>
            <tr>
                <td th:text="${varusmies.nimi}">
                    Tkm Järvinen
                </td>
                <td th:text="${varusmies.hetu}">
                    160800A4753
                </td>
            </tr>
        </table>
        <h1>Luvat</h1>
        <ol>
            <li th:each="ase : ${aseet}">
                <span th:text="${ase.nimi}"></span>
                <a th:href="@{~/aseet/{id}(id=${ase.numero})}">
                    <span th:text="${ase.numero}"> hetu</span>
                </a>
            </li>
        </ol>
        <form method="post" th:action="@{~/varusmiehet/{id}(id=${varusmies.hetu})}">
            <fieldset> <legend>Lisaa oikeus aseeseen</legend>
                Anna aseen numero
                <br></br>
                <input type="number" required="yes" name="aseenNumero"></input>
                <input type="submit" value="lisaa"></input>
            </fieldset>
        </form>
        <a href="/paasivu" title="Palaa takaisin pääsivulle">
            Takaisin
        </a>
    </body>
</html>
