<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Etsinta</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Hae varusmiestä varusmiehen hetulla</h1>
        

        <form method="POST" action="/varusmiehenHaku">
            <fieldset><legend>Etsi varusmiehen hetulla</legend>

                Varusmiehen hetu:
                <br></br>
                <input type="text" name="varusmiehenHetu" required="yes"></input>
                <br></br>
                <input type="submit" value="Etsi"></input>

            </fieldset>
        </form>

        <a href="/paasivu" title="Palaa takaisin paasivulle">
            Takaisin
        </a>
    </body>

</html>
