<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${nimi}">Varusmies sivu</title>
        <meta charset="utf-8" />

        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 40%;
            }

            td, th {
                border: 5px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

        </style>
    </head>

    <body>
        <h1>Varusmies</h1>
        <table>
            <tr>
                <th>Nimi</th>
                <th>Hetu</th>
            </tr>
            <tr>
                <td th:text="${varusmies.nimi}">
                    Tkm Jarvinen
                </td>
                <td th:text="${varusmies.hetu}">
                    160800A4753
                </td>
            </tr>
        </table>
        <h1>Luvat</h1>
        <ol>
            <li th:each="ase : ${aseet}">
                <span th:text="${ase.nimi}"></span>
                <a th:href="@{~/aseet/{id}(id=${ase.numero})}">
                    <span th:text="${ase.numero}"> hetu</span>
                </a>
                <form method="post" th:action="@{~/vluvanPoisto/{id}/{jd}(id=${varusmies.hetu}, jd=${ase.numero})}">
                    <button type="submit" th:name="poisto">Poista lupa</button>
                </form>
            </li>
        </ol>
        <form method="post" th:action="@{~/varusmiehet/{id}(id=${varusmies.hetu})}">
            <fieldset> <legend>Lisaa oikeus aseeseen</legend>
                Anna aseen numero
                <br></br>
                <input type="number" required="" name="aseenNumero"></input>
                <input type="submit" value="lisaa"></input>
            </fieldset>
        </form>

        <br></br>
        <form method="post" th:action="@{~/varusmiehenPoisto/{id}(id=${varusmies.hetu})}">
            <button type="submit" value="poista" name="poistoa">Poista varusmies</button>
        </form>
        <br></br>

        <a href="/paasivu" title="Palaa takaisin paasivulle">
            Takaisin
        </a>
    </body>
</html>
