<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Varusmiehen lisäys</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <form method="POST" action="/varusmieslisays">
            <fieldset><legend>Lisaa varusmies</legend>

                Varusmiehen nimi:
                <br></br>
                <input type="text" name="varusmiehenNimi"></input>
                <br></br>
                Varusmiehen hetu:
                <br></br>
                <input type="text" name="VarusmihenHetu"></input>
                <br></br>
                <input type="submit" value="Lisaa"></input>

            </fieldset>
        </form>
        
        <a href="/paasivu" title="Palaa takaisin paasivulle">
            Takaisin
        </a>
    </body>
</html>
